.buttonStyle {
    width: 20%;
    height: 100px;
    background-color: whitesmoke;
    text-overflow: ellipsis;
}
.buttonClicked {
    background-color: lightgreen;
   width: 20%;
    height: 100px;
}
input[type=submit] {
    -webkit-border-radius:0px;
}